#microscope-output-container{
    white-space: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#microscope-output-container ul{
    padding-left: 1.5rem;
}

#microscope-output-container a{
    color: rgb(29, 155, 240);
}
